/*Responsive*/
@media  (max-width: 1024px) {

    /*Landing Page*/
    .landing {
        flex-direction: column-reverse;
        height: 120vh;
        padding-top: 50px;
        /* padding-bottom: 100px; */
        
        /* align-items: center; */
        /* justify-content: left; */
        /* text-align: center; */
    }

    .landingText h1 {
        font-size: 5vw;
        margin: 0 !important;
    }

    .landingText h3 {
        font-size: 20px;
    }

    .landingText .btn {
        margin: 0 auto;
        margin-top: 30px;
        float: left;
    }

    .landingText .btn a {
        font-size: 2vw;
    }

    .landingImage img {
        width: 80vw;
        padding-top: 30px;
    }
    
    .about{
        padding-top: 10px;
        height: 160vh;
        flex-direction: column;
        margin-bottom: -70px;
    }

    .aboutText{
        margin-top: 50px;
    }
    /* Info Section */

    .container-card{
        width: auto;
        height: auto;
    }

    
    .cards{
        flex-direction: column;
        justify-content: space-between;
    }

    .card{
        width:50%;
        height: auto;
        margin-bottom: 50px;
    }

    .card button{
        margin-bottom: 50px;
    }
    
    .pers{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .profill {
        margin-left: 0;
    }

    footer{
        width: 100%;
    }
}









/* ========== Mobile ========== */

@media screen and (max-width: 756px) {
    /* nav {
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        height: auto;
        overflow-y: hidden;
    }

    nav h4 {
        font-size: 5vw;
        margin-top: 10px;
        margin-bottom: 14px;
    }

    nav .links a {
        margin-right: 25px;
        font-size: 16px;
        font-weight: 600;
    } */
.menu{
    display: none;
}

.menu-icon{
    display: block;
}
.cover{
    height: 0 auto;
    
}
.container{
    margin-top: 250px;
    margin-right:4% ;
}
.btn_sign_up{
    display: block;
    margin:0px 0px;
    padding: 20px 0px;
    width: 100%;
}


    /*Landing Page*/
    .landing {
        flex-direction: column-reverse;
        height: 750px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .landingText h1 {
        font-size: 8vw;
        margin: 0 !important;
    }

    .landingText h3 {
        font-size: 16px;
    }

    .landingText .btn {
        margin: 0 auto;
        margin-top: 30px;
        float: none;
    }

    .landingText .btn a {
        font-size: 3vw;
    }

    .landingImage img {
        width: 50vw;
        margin-top: 120px;
        margin-bottom: 20px;
    }


    /* about */
.aboutList{
    margin-bottom: 20px;
    width: 75%;
}

    /* Info Section */
    

    .profil {
        width: 100%;
    }

    .banner {
        height: auto;
        flex-direction: column-reverse;
        padding: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .banner h1 {
        font-size: 4vw;
    }

    .bannerInnerText {
        font-size: 2.5vw !important;
    }

    .bannerText img {
        width: 20vw;
    }

    .bannerImg img {
        padding-top: 40px;
        width: 20vw;
    }

    /* footer */

    .footer-content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer-sponsor {
        text-align: center;
        border-radius: 6px;
        /* box-shadow: 2px 5px 20px rgba(1,1,1,0.3); */
        padding-bottom: 10px;
    }

    .footer-sponsor img {
        margin: 0;
        padding: 0;
    }

    .footer-contact {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        border-radius: 6px;
        /* box-shadow: 2px 5px 20px rgba(1,1,1,0.3) ; */
    }

    .judul-contact {
        padding-top: 10px;
    }

    .footer-contact h5 {
        font-size: 16px;
    }


    .footer-support {
        margin-top: 20px;
        text-align: center;
        padding-bottom: 10px;
        border-radius: 6px;
        /* box-shadow: 2px 5px 20px rgba(1,1,1,0.3) */
    }
    .footer-support h5{
        font-size: 16px;
    }

    /* copyright */
    .copyright {
        margin-top: 260px;
        height: 50px;
        line-height: 50px;
        background-color: hsla(226, 93%, 26%, 0.7);
        color: #fff;
        text-align: center;
        font-weight: normal;
        font-size: 12px;
    }
}
