/*Responsive*/
@media screen and (max-width: 1024px) {

    /*Landing Page*/
    .landing {
        flex-direction: row;
        height: 700px;
        /* align-items: center; */
        /* justify-content: left; */
        /* text-align: center; */
    }

    .landingText h1 {
        font-size: 5vw;
        margin: 0 !important;
    }

    .landingText h3 {
        font-size: 20px;
    }

    .landingText .btn {
        margin: 0 auto;
        margin-top: 30px;
        float: left;
    }

    .landingText .btn a {
        font-size: 2vw;
    }

    .landingImage img {
        width: 32vw;
        margin-bottom: 20px;
        padding-left: 80px;
    }

    /* Info Section */
    .infoSection {
        height: auto;

    }

    .infoHeader {
        padding-top: 60px;
        text-align: center;
        margin: 20px 0;
    }

    .infoCards {
        display: flex;
        flex-direction: column;
        padding: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .infoCards .card {
        margin-bottom: 60px;
        width: 600px;
        height: 600px;
    }

    .infoCards .one .cardoneImg,
    .infoCards .two .cardtwoImg,
    .infoCards .three .cardthreeImg {
        height: 300px;
        width: 600px;
    }

    .cardbgone,
    .cardbgtwo {
        height: 300px;
    }

    .bannerText h1 {
        font-size: 4vw;
        color: #fff;
        font-weight: 600;
    }

    .bannerInnerText {
        font-size: 2.2vw;
    }

    .bannerText img {
        width: 18vw;
        margin-right: 20px;
    }

    .bannerImg img {
        width: 20vw;
    }

}










/* ========== Mobile ========== */

@media screen and (max-width: 756px) {
    nav {
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        height: auto;
        overflow-y: hidden;
    }

    nav h4 {
        font-size: 5vw;
        margin-top: 10px;
        margin-bottom: 14px;
    }

    nav .links a {
        margin-right: 25px;
        font-size: 16px;
        font-weight: 600;
    }

    /*Landing Page*/
    .landing {
        flex-direction: column-reverse;
        height: 750px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .landingText h1 {
        font-size: 8vw;
        margin: 0 !important;
    }

    .landingText h3 {
        font-size: 16px;
    }

    .landingText .btn {
        margin: 0 auto;
        margin-top: 30px;
        float: none;
    }

    .landingText .btn a {
        font-size: 3vw;
    }

    .landingImage img {
        width: 36vw;
        margin-top: 120px;
        margin-bottom: 20px;
    }

    /* Info Section */
    .infoSection {
        height: auto;
    }

    .infoHeader {
        text-align: center;
        margin: 20px 0;
    }

    .infoCards {
        display: flex;
        flex-direction: column;
        padding: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .infoCards .card {
        margin-bottom: 60px;
    }

    .profil {
        width: 100%;
    }

    .banner {
        height: auto;
        flex-direction: column-reverse;
        padding: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .banner h1 {
        font-size: 4vw;
    }

    .bannerInnerText {
        font-size: 2.5vw !important;
    }

    .bannerText img {
        width: 20vw;
    }

    .bannerImg img {
        padding-top: 40px;
        width: 20vw;
    }

    /* footer */

    .footer-content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer-sponsor {
        text-align: center;
        border-radius: 6px;
        box-shadow: 2px 5px 20px rgba(1,1,1,0.3);
        padding-bottom: 10px;
    }

    .footer-sponsor img {
        margin: 0;
        padding: 0;
    }

    .footer-contact {
        margin-top: 20px;
        flex-direction: column;
        padding: 0 20px;
        border-radius: 6px;
        box-shadow: 2px 5px 20px rgba(1,1,1,0.3) ;
    }

    .judul-contact {
        padding-top: 10px;
    }

    .footer-contact h5 {
        font-size: 16px;
    }

    .footer-support {
        margin-top: 20px;
        text-align: center;
        padding-bottom: 10px;
        border-radius: 6px;
        box-shadow: 2px 5px 20px rgba(1,1,1,0.3)
    }
    .footer-support h5{
        font-size: 16px;
    }

    /* copyright */
    .copyright {
        margin-top: 260px;
        height: 50px;
        line-height: 50px;
        background-color: hsla(226, 93%, 26%, 0.7);
        color: #fff;
        text-align: center;
        font-weight: normal;
        font-size: 12px;
    }
}
