@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap" rel="stylesheet')
*{
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div{
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}


li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
  
}
.container-nav {
  width: 100%;
  background-color: aqua;
  opacity: 0.9;
  position: fixed;
  top: 0;
  z-index: 5;
}

nav {
  width: 80%;
  margin: auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 12px;
  line-height: 60px;
  font-weight: bold;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 5px;
  border-radius: 3px;
}

a.active, a:hover {
  background: #1b9bff ;
  transition: .5s;

}

.logo .menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

/* banner */

.container-banner{
  background: url(Image/Gambar2.jpg) no-repeat;
  background-size: cover;
  text-align: center;
  height: 500px;
  color: white;
}

.container-banner p{
  padding-top: 170px;
  font-size: 60px;
}

.container-banner .btn-register {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: blanchedalmond;
}

/* Mentor */

section {
  text-align: center;
}
section .heading {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}

.container-mentor {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.container-mentor h1 {
  font-size: 35px;
  padding-bottom: 20px;
}

.card-wrapper {
  width: 100%;
  margin: 20px;
}

.card img {
  flex: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.9);
  margin-bottom: 20px;
}

.card h1 {
  font-size: 20px;
  padding-bottom: 10px;
}

/* footer */

.footer {
  margin-top: 20px;
  padding-top: 10px ;
  height: 40px;
  background-color: grey;
  text-align: left;
}

.container-footer {
  width: 80%;
  margin: auto;
}

footer .content {
  border: 1px solid black;
}

.footer-contact {
  display: flex;
}

.label-contact {
  flex: auto;
}