*{
    box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div{
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }
body{
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    scroll-behavior: smooth;
}

/*  kinop */
.header {
    width: 100%;
    /* overflow: hidden; */
    background-color:rgba(241, 241, 241, 0.8);
    padding: 10px 10px;
    position: fixed;
    z-index: 5;
   
    
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    
}

.header .logo {
    font-size: 25px;
    font-weight: bold;
    float: left;
}

.header a:hover {
    background-color: #f1f1f1;
    color: #053EFF;
}

.header a.active {
    background-color: #f1f1f1;
    color: #053EFF;
}

.header-right {
    float: right;
}

.menu-icon{
    display: none;
}

.cover{
    /* background-color: burlywood; */
    /* margin-top: 50px; */
    background-image: url(img/3980908.jpg);
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 750px;
    background-position: center center;
    /* border: 1px solid green; */
}

.container{
    margin-top: 300px;
    margin-left: 4%;
}
.container h1{
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 30px;
    color:#fb9d36;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
}


.btn_sign_up{
    padding: 12px 24px;
    border-radius: 5px;
    background-color:rgba(51,169,237,.8);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
  
}

.btn_sign_up span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn_sign_up span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 25px;
}

.btn_sign_up:hover span{
    padding-right: 25px;
}
.btn_sign_up:hover span:after{
    opacity: 1;
    right: 0;
}





/* Rahayu Ari */
/* Landing Page */
.landing {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly !important; */
    align-items: center;
    padding: 0 10vw;
    height: 80vh;
    background-color: #fff;
    /* border: 2px solid red; */
}
.landingText{
    
    margin-right: 30px;
}
.landingText h1 {
    font-size: 5vw;
    margin: 0 !important;
}

.landingText h5 {
    margin: 6px !important;
    font-size: 20px;
    opacity: 0.3;
    line-height: 30px;
    text-align: justify;
}

.landingText .btn {
    width: 130px;
    margin-top: 30px;
    padding: 14px 20px 14px 20px;
    background-color: #33a9ed;
    border-radius: 45px;
    text-align: center;
}

.landingText .btn a {
    font-size: 1.2vw;
    color: #fff;
}

.landingImage img {
    width: 40vw;
    /* border: 2px solid red; */
}

/*About CSS*/
.about{
    
    height: 500px;
    padding: 0px 50px;
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    /* border: 2px solid yellow; */
}
.aboutText{
    
    position: relative;
    padding: 0 50px;
    height: inherit;
}
.aboutText h1{
    position: relative;
    left: 110px;
}
.aboutText img{
    width: 20vw;
    position: absolute;
    top: 20px;
}
.aboutList{
    width: 50%;
}
ol{
    list-style: none;
    color: #e0501b;
}
ol li{
    font-size: 34px;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
}
li p{
    font-size: 16px;
    color: #000;
    padding-left: 60px;
    line-height: 30px;
    opacity: 0.6;
}
li span{
    position: absolute;
    line-height: 25px;
    font-size: 600;
}


/* Section Card */
.infoSection {
    height: 800px;
    background-color: #fff;

}

.infoHeader {
    color: #33a9ed;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 2vw;
}

.infoCards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0 40px 0;
}

.infoCards h1 {
    color: #33a9ed;
}

.infoCards .card {
    position: relative;
    height: 480px;
    width: 350px;
    background: #fff;
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
}

.infoCards .one .cardoneImg {
    width: 350px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.infoCards .two .cardtwoImg {
    width: 350px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.infoCards .three .cardthreeImg {
    width: 350px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.cardbgone {
    height: 150px;
    background-color: #6bc6ff;
}

.cardbgtwo {
    height: 150px;
    background-color: #0092e7;
}

.cardContent {
    padding: 40px 40px;
}

.cardContent h2 {
    margin-top: 110px;
    font-weight: 600;
    color: #e0501b;
    text-align: center;
}

.cardContent p {
    line-height: 30px;
    text-align: center;
    color: #FF7F50;
    opacity: 0.6;
}

.cardContent .cardBtn {
    position: absolute;
    right: 20px;
    padding: 10px;
    background-color: #ededed;
    width: 25px;
    height: 20px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.2s;
}

.cardContent .cardBtn:hover {
    background-color: #33dfed;
}

.cardContent .cardBtn .cardIcon {
    position: relative;
    top: 0px;
    left: 0px;
    width: 16px;
}

/* Team Section */
.team-section {
    background: #f1f1f1;
    text-align: center;
}

.inner-width {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    color: #333;
    overflow: hidden;
}

.team-section h1 {
    color: #33a9ed;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    display: inline-block;
    padding-bottom: 10px;
}

.profil {
    float: left;
    width: calc(100% / 2);
    overflow: hidden;
    padding: 40px 0;
    transition: 0.4s;
}

.profil:hover {
    background: #ddd;
}

.profil img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profill {
    float: left;
    margin-left: 300px;
    width: calc(100% / 2);
    overflow: hidden;
    padding: 40px 0;
    transition: 0.4s;
    position: relative;
}

.profill:hover {
    background: #ddd;
}

.profill img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.p-nama {
    margin: 16px 0;
    padding: 0 6px;
    color: #3498db;
    font-size: 18px
}

.p-noReg {
    font-style: italic;
}

.p-sm {
    margin-top: 12px;
}

.p-sm a {
    margin: 0 4px;
    display: inline-block;
    width: 30px;
    height: 30px;
    transition: 0.4s;
}

.p-sm a:hover {
    transform: scale(1.3);
}

.p-sm a i {
    color: #333;
    line-height: 30px;
}



/* footer content */
footer{
    height: 150px;
    width: 80%;
    margin: 20px auto;
}

.footer-content {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
}

.judul-sponsor {
    font-size: 12px;
    font-weight: 400;
    padding-top: 10px;
    margin-bottom: 15px;
}

.progate, .UGM {
    height: 70px;
    margin-right: 20px;
    border-radius: 5px;
}

.footer-contact {
    padding-top: 10px;
}

.footer-contact .judul-contact{
    padding-bottom: 10px;
    font-size: 12px;
}

.footer-contact a{
    margin-right: 10px;
}

.footer-support {
    padding-top: 10px;
    text-align: right;
    margin-right: 10px;
}
.icon {
    display: flex;
    justify-content: space-between;
    /* width: 100px;
    display: block;
    border: 1px solid red; */
}
.icon h5 {
    font-size: 14px;
    font-weight: normal;
}

.icon a{
    color: black;
    padding-bottom: 10px;
    text-decoration: none;
    margin-left: 10px;
}

.judul-support {
    font-size: 12px;
    padding-bottom: 10px;
}

.footer-support h5{
    font-size: 14px;
    font-weight: normal;
}

/* footer copyright*/
.copyright {
    height: 50px;
    line-height: 50px;
    background-color: hsla(226, 93%, 26%, 0.7);
    color: #fff;
    text-align: center;
    font-weight: normal;
}
